
html{
    font-size: 60%;
}
#container{
    width: 90%;
    height: 100vh;
    background-color: rgb(156, 211, 134);
    margin: auto;
 
}
header{
    margin-top: 10%;
    text-align: center;
    font-size: 3.5em;
    padding: 20px;
}

main{
    text-align: center;
}
main input {
width: 70%;
padding: 10px;
font-size: large;
}
main button{
    display:block;
    width: 20%;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    background-color:aliceblue;
    border-color: black;
    border-radius: 10px;
    
}
#result{
    font-size: 2.5rem;
    color:rgb(226, 111, 17);
}

