
#container{
    width: 30%;
    height: 50vh;
    background-color: rgb(81, 175, 204);
    margin: auto;
 
}
header{
    margin-top: 150px;
    text-align: center;
    font-size: 2rem;
}

main{
    text-align: center;
}
main input {
width: 70%;
padding: 10px;
font-size: large;
}
main button{
    display:block;
    width: 100px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color:aliceblue;
    border-color: black;
    border-radius: 10px;
    
}
